# Visual Studio
.vs/
.vscode/
bin/
obj/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates

# React / Node
node_modules/
dist/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db